body {

  background-color:#fff;
  margin: 3px;
  padding: 0;
  color: #333;
}
.bloc{
    display: flex;
}
.cv {
  max-width: 800px;
  margin: 2% auto;
  background-color:#fff;
  padding: 20px 40px;
  box-shadow: 0 0 5px ;
}
.entete {
  background-color: #f0f4f8;
  margin: 2%;
  text-align: center;
  width: 100%;
  box-shadow: 0 1px 5px 0;
}

.entete .photo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 3px solid #0077b6;
}

.identite h1 {
  margin: 10px 0 5px;
  font-size: 2em;
  color: #023e8a;
}

.identite p {
  font-size: 1.2em;
  color: #555;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.menu ul li a {
  text-decoration: none;
  color: #0077b6;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #03045e;
}


.skill {
  margin-bottom: 20px;
}

.skill p {
  margin: 0 0 8px;
  font-weight: bold;
}

.barre {
  background: #ddd;
  border-radius: 25px;
  overflow: hidden;
  height: 22px;
}

.progress {
  background: linear-gradient(90deg, #1a2b48,  #2980b9);
  height: 100%;
  color: white;
  text-align: right;
  padding-right: 8px;
  border-radius: 25px;
  font-size: 13px;
  
}


.gauche{
    position: relative;
    width: 500px;
    margin: 5px;
    box-shadow: 0 5px 10px ;
    padding: 2%;

}
.droit {
    position: relative;
    padding: 8px;
}

h1 {
  margin: 10px 0 5px;
  font-size: 28px;
   }

h1 {
      font-size: 2.5em;
      color: #2c3e50;
      position: relative;
      animation: bouge 3s ease-in-out infinite alternate;
    }

    @keyframes bouge {
      from { transform: translateX(-50px); color: #2c3e50; }
      to { transform: translateX(50px); color:  #0077b6;}
}
  


h2 {
  color:#0077b6;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #2980b9;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .bloc {
    flex-direction: column;
  }

  .gauche, .droit {
    width: 100%;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

input, textarea {
  padding: 0%;
  border: 1px solid #ccc;
}

button {
  background-color: #f0f4f8;
  color: #2980b9;
  border: none;
  padding: 10px;
  cursor: pointer;
}






